@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
body {
  background: #0b0f08;
  font-family: "Josefin Sans", sans-serif;
  background-image: url("https://i.pinimg.com/originals/31/ad/7b/31ad7b205b349d6f8cf779069967df6f.jpg");
  overflow-y: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
body section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body section .container-card {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (320px <= width <= 720px) {
  body section .container-card {
    padding: 5px;
    flex-direction: column;
    gap: 10px;
  }
}
@media (720px <= width <= 768px) {
  body section .container-card {
    padding: 10px;
    gap: 10px;
  }
}
@media (769px <= width <= 997px) {
  body section .container-card {
    padding: 20px;
    gap: 10px;
  }
}

.card {
  position: relative;
  height: 450px;
  width: 100%;
  transition: ease all 3.5s;
  perspective: 1200px;
}
@media (720px <= width <= 768px) {
  .card {
    height: 350px;
  }
}
@media (769px <= width <= 997px) {
  .card {
    height: 400px;
  }
}
@media (998px <= width <= 1170px) {
  .card {
    height: 450px;
  }
}
.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}
.card:hover .cover:before {
  transform: translateZ(30px);
}
.card:hover .cover:after {
  background-color: black;
}
.card:hover .cover .heading-card {
  transform: translateZ(100px);
}
.card:hover .cover .heading-card__description {
  transform: translateZ(100px);
}
.card:hover .cover .price {
  transform: translateZ(60px);
}
.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}
.card .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 3.5s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card .cover:before {
  content: "";
  position: absolute;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  transition: ease all 3.5s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
.card .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}
.card .cover.item-a {
  background-image: url("https://i.pinimg.com/564x/1f/ce/b3/1fceb3b5e96ec03324ba6b090a535c74.jpg");
}
.card .cover.item-a .heading-card {
  color: rgba(0, 157, 255, 0.9);
}
.card .cover.item-a::before {
  border: 4px solid rgba(0, 157, 255, 0.9);
}
.card .cover.item-a span {
  color: rgba(0, 157, 255, 0.9);
}
.card .cover.item-a a {
  color: rgba(0, 157, 255, 0.9);
  border: 2px solid rgba(0, 157, 255, 0.9);
}
.card .cover.item-a a:hover {
  color: #0b0f08;
  background: rgba(0, 157, 255, 0.9);
}
.card .cover.item-b {
  background-image: url("https://i.pinimg.com/564x/4f/38/36/4f3836124b586a2a06b89c26456cd64e.jpg");
}
.card .cover.item-b .heading-card {
  color: rgb(106, 0, 255);
}
.card .cover.item-b::before {
  border: 4px solid rgba(106, 0, 255, 0.9);
}
.card .cover.item-b span {
  color: rgb(106, 0, 255);
}
.card .cover.item-b a {
  color: rgba(106, 0, 255, 0.9);
  border: 2px solid rgba(106, 0, 255, 0.9);
}
.card .cover.item-b a:hover {
  color: #0b0f08;
  background: rgba(106, 0, 255, 0.9);
}
.card .cover.item-c {
  background-image: url("https://i.pinimg.com/564x/99/b8/6e/99b86ec2e99a30ff0378410554f6ad76.jpg");
}
.card .cover.item-c .heading-card {
  color: rgba(255, 230, 0, 0.9);
}
.card .cover.item-c::before {
  border: 4px solid rgba(255, 230, 0, 0.9);
}
.card .cover.item-c span {
  color: rgba(255, 230, 0, 0.9);
}
.card .cover.item-c a {
  color: rgba(255, 230, 0, 0.9);
  border: 2px solid rgba(255, 230, 0, 0.9);
}
.card .cover.item-c a:hover {
  color: #0b0f08;
  background: rgba(255, 230, 0, 0.9);
}
.card .cover .heading-card {
  text-shadow: 3px 3px 3px black, 3px 3px 1em black, 3px 3px 0.5em black;
  font-weight: 400;
  position: absolute;
  padding: 10px 0 5px 20px;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: ease all 3.5s;
  z-index: 4;
  font-size: 1.5rem;
  transform: translateZ(0px);
}
.card .cover .heading-card__description {
  font-size: 1.3rem;
}
.card .cover .price {
  font-weight: 400;
  position: absolute;
  top: 35px;
  right: 25px;
  transform-style: preserve-3d;
  transition: ease all 3.5s;
  z-index: 4;
  font-size: 1.5rem;
  transform: translateZ(0px);
  text-shadow: 3px 3px 3px black, 3px 3px 1em black, 3px 3px 0.5em black;
}
@media (320px <= width <= 768px) {
  .card .cover .price {
    font-size: 1.3rem;
  }
}
.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all 3.5s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (720px <= width <= 768px) {
  .card .card-back {
    flex-direction: column;
  }
}
@media (769px <= width <= 869px) {
  .card .card-back {
    flex-direction: column;
  }
}
.card .card-back__link {
  transform-style: preserve-3d;
  transition: ease transform 3.5s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.9;
  padding: 14px 30px;
  outline: none;
  text-decoration: none;
}
@media (320px <= width <= 720px) {
  .card .card-back__link {
    font-weight: 300;
    padding: 5px 10px;
  }
}
@media (720px <= width <= 768px) {
  .card .card-back__link {
    font-weight: 400;
    padding: 5px 10px;
  }
}
@media (769px <= width <= 1100px) {
  .card .card-back__link {
    font-weight: 400;
    padding: 10px 15px;
  }
}
.card .card-back__link:hover {
  font-weight: bold;
  opacity: 0.9;
  color: #0b0f08;
}/*# sourceMappingURL=style.css.map */