@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

$transition-time: 3.5s;

body{
  background: #0b0f08;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('https://i.pinimg.com/originals/31/ad/7b/31ad7b205b349d6f8cf779069967df6f.jpg');
  overflow-y: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

	section{
		width: 100%;
		max-width: 1200px;
    margin: 0 auto;

		.container-card{
      display: flex;
			padding: 20px;
      gap: 20px;
			align-items: center;
      justify-content: center;
      height: 100vh;
			@media (320px <= width <= 720px) {
				padding: 5px;
				flex-direction: column;
				gap: 10px;
			}
			@media (720px <= width <= 768px) {
				padding: 10px;
				gap: 10px;
			}
			@media (769px <= width <= 997px) {
				padding: 20px;
				gap: 10px;
			}
    }
  }
}
.card{
	position: relative;
	height: 450px;
	width: 100%;
	transition: ease all $transition-time;
	perspective: 1200px;
	@media (720px <= width <= 768px) {
		height: 350px;
	}
	@media (769px <= width <= 997px) {
		height: 400px;
	}
	@media (998px <= width <= 1170px) {
		height: 450px;
	}
	&:hover{
		.cover{
			transform: rotateX(0deg) rotateY(-180deg);
			&:before{
				transform: translateZ(30px);
			}
			&:after{
				background-color: black;
			}

			.heading-card {
				transform: translateZ(100px);
        &__description{
          transform: translateZ(100px);
        }
			}

			.price{
				transform: translateZ(60px);
			}
			a{
				transform: translateZ(-60px) rotatey(-180deg);
			}
		}
	}
	
	.cover {
		position: absolute;
		height: 100%;
		width: 100%;
		transform-style: preserve-3d;
  	transition: ease all $transition-time;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&:before{
			content: '';
			position: absolute;
			box-shadow: 0 0 12px rgba(0,0,0,.3); 
			top:10px;
			left:10px;
			right:10px;
			bottom:10px;
			z-index: 2;
			transition: ease all $transition-time;
			transform-style: preserve-3d;
			transform: translateZ(0px);
		}
		&:after{
			content: '';
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index: 2;
			transition: ease all 1.3s;
			background: rgba(0,0,0,.4);
		}

		&.item-a{
			background-image: url('https://i.pinimg.com/564x/1f/ce/b3/1fceb3b5e96ec03324ba6b090a535c74.jpg');
  
      .heading-card{
        color: rgba(0, 157, 255, 0.9);
      }
      &::before{
        border: 4px solid rgba(0, 157, 255, 0.9);
      }
      span {
        color: rgb(0, 157, 255, 0.9);
      }
      a {
        color: rgba(0, 157, 255, 0.9);
        border: 2px solid rgba(0, 157, 255, 0.9);
        &:hover {
          color: #0b0f08;
          background: rgba(0, 157, 255, 0.9);
        }
      }
		}		

    &.item-b{
			background-image: url('https://i.pinimg.com/564x/46/83/b2/4683b233b01fa08734d6173aa82a6feb.jpg');
      .heading-card{
        color: rgba(0, 255, 115, 0.9);
      }
      &::before{
        border: 4px solid rgba(0, 255, 115, 0.9);
      }
      span {
        color: rgba(0, 255, 115, 0.9);
      }
      a {
        color: rgba(0, 255, 115, 0.9);
        border: 2px solid rgba(0, 255, 115, 0.9);
        &:hover {
          color: #0b0f08;
          background: rgba(0, 255, 115, 0.9);
        }
      }
		}    

    &.item-c{
			background-image: url('https://i.pinimg.com/564x/99/b8/6e/99b86ec2e99a30ff0378410554f6ad76.jpg');
      .heading-card{
        color: rgba(255, 230, 0, 0.9);
      }
      &::before{
        border: 4px solid rgba(255, 230, 0, 0.9);
      }
      span {
        color: rgba(255, 230, 0, 0.9);
      }
      a {
        color: rgba(255, 230, 0, 0.9);
        border: 2px solid rgba(255, 230, 0, 0.9);
        &:hover {
          color: #0b0f08;
          background: rgba(255, 230, 0, 0.9);
        }
      }
		}

		.heading-card {
      text-shadow: 3px 3px 3px black, 3px 3px 1em black, 3px 3px 0.5em black;
			font-weight: 400;
			position: absolute;
      padding: 10px 0 5px 20px;
			bottom: 0;
      left: 0;
			transform-style: preserve-3d;
  		transition: ease all $transition-time;
			z-index: 4;
			font-size: 1.5rem;
			transform: translateZ(0px);
      &__description {
        font-size: 1.3rem;
      }
		}

		.price {
			font-weight: 400;
			position: absolute;
			top: 35px;
			right: 25px;
			transform-style: preserve-3d;
  		transition: ease all $transition-time;
			z-index: 4;
			font-size: 1.5rem;
			transform: translateZ(0px);
      text-shadow: 3px 3px 3px black, 3px 3px 1em black, 3px 3px 0.5em black;
			@media (320px <= width <= 768px) {
				font-size: 1.3rem;
			}
		}
	}

	.card-back{
		position: absolute;
		height: 100%;
		width: 100%;
		background: #0b0f08;
		transform-style: preserve-3d;
  	transition: ease all $transition-time;
		transform: translateZ(-1px);
		display: flex;
		align-items: center;
		justify-content: center;
    gap: 10px;
		@media (720px <= width <= 768px) {
			flex-direction: column;
		}
		@media (769px <= width <= 869px) {
			flex-direction: column;
		}

		&__link{
			transform-style: preserve-3d;
			transition: ease transform $transition-time, ease background .5s;
			transform: translateZ(-1px) rotatey(-180deg);
			background: transparent;
			font-weight: 500;
			font-size: 1rem;
      opacity: .9;
			padding: 14px 30px;
			outline: none;
			text-decoration: none;
			@media (320px <= width <= 720px) {
				font-weight: 300;
				padding: 5px 10px;
			}
			@media (720px <= width <= 768px) {
				font-weight: 400;
				padding: 5px 10px;
			}
			@media (769px <= width <= 1100px) {
				font-weight: 400;
				padding: 10px 15px;
			}
			&:hover{
        font-weight: bold;
        opacity: .9;
        color: #0b0f08;
			}
		}
	}
}

